$blue-dark:    #1E3A8A;   
$blue-medium:  #2563EB;   
$blue-light:   #BFDBFE;   
$white:        #FFFFFF;   
$gray-light:   #F1F5F9;   
$text-dark:    #0F172A;
$red-alert:    #e01414; 
$green-success:  #3de014;